.cat-link{
    border: solid #0d6efd;
    border-radius: 25px;
    margin-right: 5px;
    padding:10px 20px;
    transition: color 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}
.cat-link:hover{
    color: white;
    background-color: #0d6efd;
    padding: 10px 50px;
}
.btn-search{
    border: solid #0d6efd;
    border-radius: 25px;
    margin-right: 5px;
    padding:10px 20px;
}
.btn-search:hover{
    color: white;
    background-color: #0d6efd;
}
.cat-on{
    color: white !important;
    background-color: #0d6efd;
}
h1>a{
    text-decoration: none;
}
img{
    border-radius: 10px;
    transition: scale 0.5s ease;
}
img:hover{
    scale: 1.5;
}
.category {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.category.exiting {
    opacity: 0;
    transform: translateY(-20px);
}

.category.entering {
    opacity: 0;
    transform: translateY(20px);
}

.category.entered {
    opacity: 1;
    transform: translateY(0);
}
